<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954621115312-5jh26vf30m4sk05jgn2mc136gi0ks4c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954621115312-5jh26vf30m4sk05jgn2mc136gi0ks4c0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFDTPkHOfBylygOfcniBhWhZvBtIQbcVU</string>
	<key>GCM_SENDER_ID</key>
	<string>954621115312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Serhat-Samioglu.Findme</string>
	<key>PROJECT_ID</key>
	<string>findme-ae3f4</string>
	<key>STORAGE_BUCKET</key>
	<string>findme-ae3f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954621115312:ios:03232a32ce281d75</string>
	<key>DATABASE_URL</key>
	<string>https://findme-ae3f4.firebaseio.com</string>
</dict>
</plist>